@import '../../assets/css/_var.css';
@import '../../assets/css/_placeholder.css';
@component-namespace m {
    @b row {
        position:relative;
        box-sizing:border-box;
        zoom:1;
        &::before,&::after {
            content:"";
            display:table;
        }
        &::after {
            clear:both;
        }
        @m flex {
            display:flex;
        }
        @when justify-start {
            justify-content:flex-start;
        }
        @when justify-center {
            justify-content:center;
        }
        @when justify-end {
            justify-content:flex-end;
        }
        @when justify-space-between {
            justify-content:space-between;
        }
        @when justify-space-around {
            justify-content:space-around;
        }
    }
}