@component-namespace m{
    @b button{
        width:120px;
        height: 38px;
        border-radius:4px;
        background-color:#b2cf07;
        border:1px solid #b2cf07;
        outline:0;
        cursor: pointer;
        color:#ffffff;
        font-size:14px;
        text-align:center;
        display: inline-block;

        &:hover{
            color: #fff;
            background-color: #bedd06;
            border-color: #bedd06;
        }

    }
}