$color-primary: #3FAAF5;

$color-success: #13ce66;
$color-warn: #f7ba2a;
$color-danger: #f56c6c;
$color-info: #909399;

$color-white: #fff;
$color-black: #000;






$btn-primary-color:#606266;
$btn-primary-bdcolor:#DCDFE6;
$btn-primary-bgcolor:$color-primary;
$btn-plain-font:#409eff;
$btn-plain-bg:#ecf5ff;
$btn-plain-bd:#b3d8ff;

$btn-plain-succ-font:#67c23a;
$btn-plain-succ-bg:#f0f9eb;
$btn-plain-succ-bd:#c2e7b0;

$btn-plain-info-font:#909399;
$btn-plain-info-bg:#f4f4f5;
$btn-plain-info-bd:#d3d4d6;

$btn-plain-warn-font:#e6a23c;
$btn-plain-warn-bg:#fdf6ec;
$btn-plain-warn-bd:#f5dab1;

$btn-plain-danger-font:#f56c6c;
$btn-plain-danger-bg:#fef0f0;
$btn-plain-danger-bd:#fbc4c4;

$btn-font-default:14px;
$btn-font-xs:12px;
$btn-font-sm:13px;
$btn-font-md:16px;
$btn-font-lg:20px;


$icon-size:18px;
$icon-size-xs:12px;
$icon-size-sm:14px;
$icon-size-md:20px;
$icon-size-lg:24px;