@component-namespace m{
    @b datepicker{
        @e input{
            position: relative;
            width:280px;
            input::-webkit-input-placeholder {
                color:#dcdfe6;
            }
            @m open{
                padding:6px 30px;
                border-radius:6px;
                height: 40px;
                width:280px;
                line-height:28px;
                box-sizing: border-box;
                outline:0;
                border:1px solid #dcdfe6;
                color:#606266;
                &:focus{
                    border:1px solid #b2cf07;
                }
                
            }
        }
        @e icon{
            position: absolute;
            top: 50%;
            transform: translateY(-50%);
            cursor: pointer;
            &.calendar{
                left: 10px;
                color:#dcdfe6;
            }
            &.times{
                right: 10px;
                cursor: pointer;
                color:#dcdfe6;
            }
            &.angle-double-left{
                left: 20px;
            }
            &.angle-left{
                left: 45px;
            }
            &.angle-right{
                right:45px;
            }
            &.angle-double-right{
                right:20px;
            }
        }
        @e panel{
            position: relative;
            width:480px;
            color: #606266;
            background: #fff;
            border-radius: 4px;
            line-height: 30px;
            margin: 12px 0;
        }
        @e header{
            height: 30px;
            position: relative;
            text-align:center;
            padding:0xp 12px;
            box-sizing: border-box;
            color:#303133;
        }
        @e title{
            cursor: pointer;
            display: inline-block;
        }
        @e content{
            height: 300px;
        }
        @e month{
            display:inline-block;
            width:68px;
            text-align:center;
        }
        @e day{
            @m gray{
                display: inline-block;
                width:30px;
                height:30px;
                border-radius:15px;
                background-color:#f5f5f5;
                &.active{
                    background-color:#b2cf07;
                    color:#ffffff;
                }
            }
            
            
        }
        @e arrow{
            width: 8px;
            height: 8px;
            border: 1px solid #e4e7ed;
            position: absolute;
            border-color: #e4e7ed #e4e7ed transparent transparent;
            transform: rotate(-45deg);
            top: -5px;
            left: 10px;
            background:#fff;
        }
    }
}