@component-namespace m {
  @b table {
    @e content{
      display: flex;
      flex-direction: row;
      justify-content: center;
      
      @m column{
        text-align:center;
        flex-grow:1;
        & .field{
          height:48px;
          line-height:48px;
          overflow:hidden;
        }
        & .tbody{
          &-row{
              border-bottom:1px solid #bbbbbb;
              height:48px;
              line-height:48px;
              &:first-child{
                border-top:1px solid #bbbbbb;
              }
          }
        }
      }
    }
  }
}